@font-face {
	font-family: 'HvDTrial Brandon Grotesque';
	src: url('{{ asset("fonts/ArbFONTS-4_F4.ttf") }}') format('ttf'),
	url('{{ asset("fonts/ArbFONTS-4_F5.ttf") }}') format('ttf'),
	url('{{ asset("fonts/ArbFONTS-BR.ttf") }}') format('ttf'),
	url('{{ asset("fonts/ArbFONTS-riyad-bank-Bold.ttf") }}') format('ttf'),
	url('{{ asset("fonts/ArbFONTS-riyad-bank-Regular.ttf") }}') format('ttf');
	font-weight: normal;
	font-style: normal;
}


.disabled-field {
	background-color: #FCF9FC;
	padding: 7px;
	border-radius: 12px;
	color: #121212;
}

.label-text {
	color: #121212;
	font-weight: 500;
	font-size: 16px;
}

.text-small {
	font-size: 12px;
}

.tab-button {
	background-color: transparent;
	border-radius: 12px;
	color: #424746;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 10px;
	padding-top: 10px;

}

.tab-button.active {
	background-color: #24B094;
	border-radius: 12px;
	color: white;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.primary-text-color {
	color: #24B094;
}
.active-label{
	background-color:#D7EEDD; 
}
.status-label{
	font-size: 14px;
	font-weight: 500;
	width: 74px; ;
	height: 24px;
}


#multi-upload-content,#upload-content {
    display: flex;
	justify-content: center;
    align-items: center;
	gap: 5px;
}

.upload-card {
    border: 2px dashed #CED5D4;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: background 0.3s;
}

.upload-card:hover {
    background: #f8f9fa;
}

.upload-card.dragover {
    background-color: #e9ecef;
}

.image-wrapper {
    position: relative;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}



.file-info {
    flex-grow: 1;
}


.progress {
    height: 5px;
    margin-top: 8px;
}

.bread-crumb-title{
	font-weight: 500;
    color: #121212;
	font-size: 18px;
}
.bulk-delete-container{
	display: flex;
	justify-content: center;
	padding: 5px;


}

.delete-container{
	
	border: 1px solid #CED5D4;
	border-radius: 16px;
	width: 65%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-right: 16px;
	padding-left: 16px;
}

.fs-16{
	font-size: 16px;
}