@font-face {
	font-family: 'HvDTrial Brandon Grotesque';
	src: url('{{ asset("fonts/ArbFONTS-4_F4.ttf") }}') format('ttf'),
	url('{{ asset("fonts/ArbFONTS-4_F5.ttf") }}') format('ttf'),
	url('{{ asset("fonts/ArbFONTS-BR.ttf") }}') format('ttf'),
	url('{{ asset("fonts/ArbFONTS-riyad-bank-Bold.ttf") }}') format('ttf'),
	url('{{ asset("fonts/ArbFONTS-riyad-bank-Regular.ttf") }}') format('ttf');
	font-weight: normal;
	font-style: normal;
}


.disabled-field {
	background-color: #FCF9FC;
	padding: 7px;
	border-radius: 12px;
	color: #121212;
}

.label-text {
	color: #121212;
	font-weight: 500;
	font-size: 16px;
}

.text-small {
	font-size: 12px;
}

.tab-button {
	background-color: transparent;
	border-radius: 12px;
	color: #424746;
	padding: 16px;
}

.tab-button.active {
	background-color: #24B094;
	border-radius: 12px;
	color: white;
	padding: 16px;
}

.primary-text-color {
	color: #24B094;
}
.active-label{
	background-color:#D7EEDD; 
}
.status-label{
	font-size: 14px;
	font-weight: 500;
	width: 74px; ;
	height: 24px;
}

